<!DOCTYPE html>
<html>
  <head>
    <title>Eutopia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo">Eutopia</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <% if user_signed_in? %>
          <strong><%= current_user.email %></strong>
         <% else %>
           <li><%= link_to "Sign up", new_user_registration_path, href: '#modal1', class: 'modal-trigger', remote: true %></li>
           <li><%= link_to "Login", new_user_session_path, href: '#modal2', class: 'modal-trigger', remote: true %></li>
         <% end %>

      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>
</html>
